<?xml version="1.0"?>
<package>
  <metadata>
    <id>{{ id }}</id>
    <version>{{ version }}</version>
    <authors>{{ authors }}</authors>
    <owners>{{ owners }}</owners>
    <licenseUrl>{{ licenseUrl }}</licenseUrl>
    <projectUrl>{{ projectUrl }}</projectUrl>
    <iconUrl>{{ iconUrl }}</iconUrl>
    <requireLicenseAcceptance>{{ acceptLicense }}</requireLicenseAcceptance>
    <description>{{ description }}</description>
    <releaseNotes>{{ releaseNotes }}</releaseNotes>
    <copyright>{{ copyright }}</copyright>
    <tags>{{ tags }}</tags>
    {{#if dependencies}}
    <dependencies>
      {{#each dependencies}}
      <dependency id="{{this.id}}" version="{{this.version}}" />
      {{/each}}
    </dependencies>
    {{/if}}
  </metadata>
  {{#if files}}
    <files>
      {{#each files}}
      <file src="{{this.src}}" target="{{this.target}}" />
      {{/each}}
    </files>
  {{/if}}
</package>
